// Optionally override Bootstrap variables here

// scss-docs-start color-variables
$blue: #aed9e0;
$indigo: #26055b !default;
$purple: #7c5db5 !default;
$pink: #d16b9e !default;
$red: #bd505b !default;
$orange: #ffa69e;
$yellow: #faf3dd;
$green: #3d8965;
$teal: #5db9a7;
$cyan: #4eb6ca !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $indigo;
$secondary: #5e6472;
// scss-docs-end theme-color-variables

$font-family-sans-serif: "belanosima", sans-serif;
$font-family-monospace: "belanosima", monospace;

// My custom styles

body {
  color: $secondary;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-orange {
  background-color: $orange;
}

.bg-blue {
  background-color: $blue;
}

.btn-custom {
  box-shadow: 8px 8px 0px lightslategrey;
  background-color: white;
  color: $secondary;
  border-radius: 50px;
  font-size: 96px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
}

.btn-AMPM {
  box-shadow: 8px 8px 0px lightslategrey;
  background-color: white;
  color: $secondary;
  border-radius: 50px;
  font-size: 56px;
  box-sizing: border-box;
}

.btn-star {
  box-shadow: 8px 8px 0px lightslategrey;
  background-color: $blue;
  color: $secondary;
  border-radius: 50px;
  box-sizing: border-box;
  width: 220px;
  padding: 60px;
  border: 10px solid $orange;
}

.btn-star img {
  width: 100%;
  height: auto;
}


.btn-custom-pressed, .btn-star-pressed, .btn-AMPM-pressed {
  box-shadow: inset 8px 8px 0px  lightslategrey;
}

.btn-AMPM-pressed {
  background-color: $orange;
}

.btn-number {
  font-size: 56px;
  width: 80px;
  height: 80px;
  border-radius: 25px;
  border: none;
  background-color: white;
  color: $secondary;
  box-shadow: 4px 4px 0px lightslategray;
  padding-bottom: 8px;
}

.btn-number-pressed {
  box-shadow: inset 4px 4px 0px lightslategray;
}

.cog-icon, .icon-arrow{
  position: absolute;
  top: 24px;
  left: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

.icon-arrow-right {
  position: absolute;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

.cog-icon-pressed {
  animation: rotateAnimation 2s ease-in-out;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  animation: wiggle 0.4s ease-in-out 4; /* 4 repetitions of the wiggle */
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.icon-arrow:hover, .icon-arrow-right:hover {
  animation: wiggle 1s ease-in-out;
}

/* Card Flip CSS */
.card-flip {
  perspective: 1000px;
  width: 180px;
  height: 280px;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-flip.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front .card-body{
  background: white;
  border-radius: 50px;
  border: 10px solid $blue;
  height: 280px;
  width: 180px;
  color: $secondary;
  box-shadow: 6px 6px  lightslategray;
}

.card-back .card-body{
  background: $blue;
  border-radius: 50px;
  border: 10px solid $orange;
  height: 280px;
  width: 180px;
  color: $secondary;
  box-shadow: 6px 6px lightslategray;
}

.card-body h2{
  line-height: 1.1;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-img {
  max-height: 150px;
}

// // Import Bootstrap functions and variables
// @import "../node_modules/bootstrap/scss/functions.scss";
// @import "../node_modules/bootstrap/scss/variables.scss";

// // Import Bootstrap mixins and the rest of Bootstrap
// @import "../node_modules/bootstrap/scss/mixins.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.modal-content {
  width: 500px;
  background-color: #f7c1bc;
  color: $secondary;
  border-radius: 50px;
}

.modal-header {
  border: none;
  padding: 40px 40px 0px;
}

.modal-header h2 {
  width: 350px;
  line-height: 1;
  font-size: 56px;
}

/* Styling the checkbox input */
.form-check-input {
  width: 1.25em;
  height: 1.25em;
  border: 5px solid $secondary; /* Border color */
  background-color: white; /* Background color */
  border-radius: 15px; /* Optional: Add some rounding to the checkbox */
  appearance: none; /* Remove default styling */
  display: inline-block;
  position: relative;
}


/* Styling the checked state */
.form-check-input:checked {
  background-color: white; /* Background stays the same */
  border-color: $secondary; /* Keep the border */
}

/* Styling the checkmark */
.form-check-input:checked::before {
  content: '✔';
  color: $teal; /* Checkmark color */
  font-size: 48px;
  position: absolute;
  top: -28px;
  left: 0px;
  transform: rotate(-10deg);
}

